.info-box{
    width: 100%;
    color: aliceblue;
}

.info-viewer{
    width: 100%;
    margin-bottom: 20px;
}
.stock-price{
    color: #161817;
    font-weight: 900;
    font-size: large;
    margin-bottom: 40px;
    background-color: #BEE913;
    padding: 10px;
    border-radius: 15px;
    width: 50%;
    max-width: 300px;
}

.Market{
    margin-top: 20px;;
}

.decision-button{
    padding-top: 10px;
    padding-bottom: 10px;;
    font-size: larger;
    border: none;
    width: 100px;
    color: aliceblue;
    border-radius: 10px;;

    /* width: 50%; */
}
.decision-input{
    /* width: 50%; */
    padding: 10px;
    /* margin-right: 5px; */
    width: 70%;
    text-align: center;
    font-weight: 900;
    font-size: large;

}
.decision-checkbox{
    padding: 10px;
    margin-top: 10px;
    text-align: center;
    width: 20px;
    height: 20px;
    /* font-weight: 900; */
    /* font-size: large; */

}
.decision-button:active{
    border: none;
}
.button-holder{
    text-align: center;
    display: flex;
}

.button-holder{
    text-align: center;
    display: flex;
}


.transaction{
    margin-top: 20px;
    /* display: flex; */

}
@media (max-width:800px) {
    .transaction{
        display: inline;
    }
}
.err-msg{
    padding-top:10px;
    padding-bottom:10px;
    text-align: center;
    width: 90%;
    margin: auto;
    margin-top: 20px;
    background-color: #e66868;
    color: white;
    border-radius: 10px;
}