.portfolio{
    color: #f0f0f0;
    border: white 2px solid; 
    border-radius: 10px;
    padding: 10px;;
}
.wallet{
    margin-bottom: 20px;
    text-align: center;
    font-size: larger;
    font-weight: 500;
}

.portfolio-viewer {
    display: flex;
    color: #f0f0f0;
}

.cashInfo {
    background-color: #70D592;
    padding: 20px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    color: #161817;
    font-size: large;
    font-weight: 900;
}
.stockInfo {
    background-color: #161817;
    padding: 20px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    color: #f0f0f0;
    font-size: large;
    font-weight: 900;
}